<div class="copy">
    <div class="container">
        <a href="https://video.lfcfans.net/">2023 &copy; All Rights Reserved | LFCFANS.NET</a>

        <span>
            <!-- <a href="">
                <i class="fab fa-github"></i>
            </a> -->
            <!-- <a href="https://www.linkedin.com/groups/10411920/">
                <i class="fab fa-linkedin-in"></i>
            </a> -->
            <!-- <a href="https://in.pinterest.com/prabnr/pins/">
                <i class="fab fa-pinterest-p"></i>
            </a> -->
            <a href="https://twitter.com/lfcfans">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/lfcwoldfans">
                <i class="fab fa-facebook-f"></i>
            </a>
        </span>
    </div>

</div>