<head>
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Sports 5</title>

        <link rel="shortcut icon" href="/static/assets/images/fav.jpg">
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/css/fontawsom-all.min.css">
        <link rel="stylesheet" href="/static/assets/css/animate.css">
        <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css"/>
    </head>