<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Sports 5</title>

    <link rel="shortcut icon" href="/static/assets/images/fav.jpg">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/custom.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1755612043364956"
        crossorigin="anonymous"></script>
</head>